:root {
    --primary: #fff;
    --secondary: #000000;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.contact {
    height: 70vh;
    width: 50vw;
    display: flex;
    overflow: hidden;
}

.form{
    width: 420px;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 12px;
    padding: 20px, 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


    .form h1 {
        color: #000;
        font: 600 1.8rem sans-serif;
        display: flex;
        justify-content: left;
        align-items: left;
        padding: 0 2rem;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .form h2 {
        color: #000;
        font: 100 1rem sans-serif;
        text-align: left;
        padding: 0 2rem;
       
        
    }

.form form {
    padding:0 2rem;
}

.form input, .form textarea {
    width: 100%;
    padding: 1rem;
    border: .08rem solid var(--primary);
    border-radius: 2rem;
    background-color: unset;
    color: #000;
    font-size: 1rem;
    border-color:#000;
}

.form input:not(:first-child), .form textarea, .form button {
    margin-top: .8rem;
}

.form textarea{
    height: 6rem;
    resize: none;
}

 /* .file-input {
    display: none; 
} 

.custom-file-upload {
    display: inline-block;
    padding: 1rem 2rem;
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 2rem;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font: 100 1rem sans-serif;
} */

.form button{
    background-color: var(--secondary);
    padding: 1rem 2rem;
    color: #ffff;
    border-radius: 2rem;
    border: 2px;
    cursor: pointer;
    font-size: 16px;



     }



